.container {
    margin-top: 30px;
    margin-left: 10px;
}

.longcard {
    color: #f6f6f6;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 4fr));
    grid-gap: 10px;
    padding-top: 80px;
    text-shadow: 1px 1px 1px black;
}

#text-1 {
    border-radius: .35rem;
    min-height: 380px;
    background-color: rgba(78, 78, 78, .6);
    border-radius: .40em;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .9);
    padding: 5px;
}

#text-1 .aboutspiel {
    text-shadow: 1px 1px 1px black;
    margin: 15px;
    text-align: justify;
    text-indent: .2em;
    font-size: 1.16em;
}

#text-1 .aboutspiel:first-child:first-line {
    font-size: 3.5em;
    font-family: 'Questrial', bold;
    float: left;
    margin-left: -35px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: .15em;
}

#text-1 .aboutspiel a {
    color: #D7BDE2;
}

#text-1 .aboutspiel:first-child:first-line {
    line-height: 150%;
}

.inside {
    color: #99ddcc;
    padding-top: 60px;
    border-radius: .35rem;
    min-height: 380px;
    text-align: center;
    font: Questrial;
    text-shadow: 1px 1px 1px black;
    font-size: 1.16em;
}

.inside #left {
    float: left;
    padding-left: 120px;
}

.inside #right{
    margin-top: 20px;
    float: right;
    padding-top: 60px;
}


.inside #about-photo .img-responsive {
    float: center;
    min-width: 380px;
    min-height: auto;
    max-height: auto;
    max-width: 20%;
    margin-left: 10px;
    padding-left: 15px;
    opacity: .8;
}
