@import url(https://fonts.googleapis.com/css?family=Questrial);
html, body, .container {
    height: 100%;
    margin: 0;
}

body {
    font-family: Questrial;
    font-size: 16px;
    line-height: 1.5;
    background-color: #white;
    background: url('../img/mx-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding-right: 5px;
}

body a {
    color: #99ddcc;
}

/* global */
.container {
    padding: 5px;
    overflow-y: auto;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    font: Questrial;
    position: fixed;
    background-color: #e0e0e0;
    opacity: 75%;
    color: #ffdd67;
    min-height: 80px;
    width: 100%;
}

header a {
    color: #ffe2e2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    text-shadow: 1px 1px 2px #000000;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #brand .img-responsive {
    float: left;
    padding-left: 25px;
    padding-top: 15px;
    min-width: 80px;
    min-height: auto;
    max-height: 4%;
    max-width: 4%;
}


header nav {
    float: right;
    margin-top: 15px;
    margin-right: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

header .highlight, header .current a {
    color: #f6f6f6;
    font-style: oblique;
}

header a:hover {
    color: #ffe2e2;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 2px 2px #bad7df;
}


/* start index body  */
#landing {
    padding-top: 160px;
    margin-left: 20px;
    min-height: 420px;
    text-align: center;
    color: #99ddcc;
    text-shadow: 1px 1px 2px black;
}

#landing .main h2 {
    text-align: left;
    font-family: Questrial;
}

#landing .main h2 .maximo{
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    color: #bfd8d5;
    font-family: Questrial;
}

#landing .main h3 {
    text-align: left;
}


.aside-1 {
    float: left;
}

.aside-2 {
    float: right;
    margin-top: 160px;
}

.container #boxes .aside .box1 {
    float: left;
}

.container #boxes .aside .box2 {
    float: right;
}

 /* / end index body / */

 footer {
   display: flex;
   color: #CACFD2;
   background-color: #e0e0e0;
   opacity: 50%;
   justify-content: space-around;
   padding-top: 5px;
 }

footer .one .github {
   position: relative;
   max-height: 55px;
   width: auto;
   margin: 10px;
   filter: drop-shadow(1px 3px 2px #000000);
 }


footer .middle .linkedin {
    max-height: 45px;
    max-width: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    filter: drop-shadow(1px 3px 2px #000000);
 }

footer .two .twitter .tweet {
    margin-top: 10px;
    max-height: 45px;
    max-width: auto;
    filter: drop-shadow(1px 3px 2px #000000);
 }

/* Media Queeries */

@media (min-width: 320px) and (max-width: 480px) {

    header a {
        font-size: 14px;
    }

    header li {
        float: left;
        display: inline;
        padding: 0 10px 0 10px;
    }

    header #brand .img-responsive {
        float: left;
        padding-left: 25px;
        padding-top: 17px;
        margin-bottom: 15px;
        min-width: 45px;
        min-height: auto;
    }

    header nav {
        float: right;
        margin-right: 6px;
        margin-bottom: 15px;
        padding: 5px;
    }
 /* global */
    .container {
        margin-top: 45px;
        padding: 5px;
    }

    footer {
        padding: 2px;
    }
    footer .middle .side-geom{
        max-height: 35px;
        max-width: auto;
        padding-bottom: 0px;
    }
    footer .two .twitter{
        padding-bottom: 2px;
        padding-top: 0px;
        max-height: 40px;
        max-width: auto;
    }
}
